  .bookings-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .booking-info, .booking-policies {
    margin-bottom: 40px;
  }
  
  .booking-info h2, .booking-policies h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    color: #000000;
  }
  
  .booking-policies h3 {
    margin-top: 20px;
    font-size: 2.25rem;
    /* color: #803248; */
    color: #f06292;
  }
  
  .booking-policies p, .booking-info p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 8px 0;
  }
  
  .booking-info a {
    /* color: #803248; */
    color: #f06292;
    text-decoration: none;
  }
  
  .booking-info a:hover {
    text-decoration: underline;
  }

h3 {
    font-size: 3rem;
}

p {
    padding-bottom: 1rem;
}

#centered {
    text-align: center;
}

.bookings-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #333;
}

.bookings-div {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
}