body {
  background-color: #DB93B0;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}